.container {
  background-color: white;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;

  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 0px 15px;
}
.header {
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
}
.header > a {
  color: rgb(53, 53, 53);
  text-decoration: none;
}
.main {
  padding-top: 10px;
}
.footer {
  padding: 100px 0px;
  color: rgb(87, 87, 87);
}
